{% extends "base.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'runtimes' %}
    {% include "status/status-tabs.html" %}
{% endblock %}

{% block body %}
    <div class="overflow-x-auto">
        <table class="w-full text-lg text-left text-gray-500">
            <thead class="text-xs text-white uppercase bg-primary">
                <tr>
                    <th scope="col" class="px-4 py-3 border">{{ _("ID") }}</th>
                    <th scope="col" class="px-4 py-3 border">{{ _("Name") }}</th>
                    <th scope="col" class="px-4 py-3">{{ _("Runtime Info") }}</th>
                </tr>
            </thead>
            <tbody>
                {% for language in languages %}
                    {% if language.runtime_versions %}
                        <tr class="border hover:bg-light-blue-pink-gradient">
                            <td class="px-4 py-2 font-extrabold text-gray-900 whitespace-nowrap border">{{ language.short_display_name }}</td>
                            <td class="language px-4 py-2 text-gray-900 whitespace-nowrap border">{{ language.name }}</td>
                            <td class="info px-4 py-2 font-medium text-gray-900 whitespace-nowrap border">
                                <code>{{ runtime_versions(language.runtime_versions()) }}</code>
                                {% if language.description %}
                                    <div>
                                        {% cache 86400 'language_html' language.id %}
                                            {{ language.description|markdown('language') }}
                                        {% endcache %}
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
