{% extends "base.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'matrix' %}
    {% include "status/status-tabs.html" %}
{% endblock %}

{% block body %}
<div class="overflow-x-auto">
    <table id="judge-versions" class="table w-full text-sm text-left text-gray-500">
        <tr>
            <th></th>
            {% for judge in judges %}
                <th scope="col" class="px-4 py-3 border font-bold text-lg">{{ judge }}</th>
            {% endfor %}
        </tr>
        {% for language in languages %}
            <tr class="border hover:bg-light-blue-pink-gradient">
                <th class="px-4 py-2 font-extrabold text-gray-900 whitespace-nowrap border">{{ language.name }}</th>
                {% for judge in judges %}
                    {% set versions = matrix[judge][language.id] %}
                    <td class="version version-
                        {%- if not versions -%}
                            slate-500
                        {%- elif versions.is_latest -%}
                            red-500
                        {%- else -%}
                            red-500
                        {%- endif %}">

                        {%- for version in versions -%}
                            {{ version.name }}{% if version.version %}&nbsp;{{ version.version }}{% endif %}
                            {% if not loop.last %}<br>{% endif %}
                        {%- else -%}
                            &mdash;
                        {%- endfor -%}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
