{% extends "base.html" %}

{% block body %}
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <div class="card bg-base-100 w-96 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">{{ _("Reset Password Confirmation") }}</h2>
                  <p class="text-left">{{ _("We've emailed you instructions for setting your password. You should be receiving them shortly.") }}</p>
                  <p class="text-left">{{ _("If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.") }}</p>
                  <div class="card-actions justify-end">
                    <a href="{{ SITE_FULL_URL }}" class="btn btn-primary">OK</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
{% endblock %}
