{% extends "base.html" %}

{% block media %}
    {% include "timezone/media-css.html" %}
    {{ form.media.css }}
{% endblock %}

{% block js_media %}
    {% include "timezone/media-js.html" %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            $('.pass-req-link').click(function () {
                $('.pass-req').toggle('fast');
                return false;
            });
            try {
                var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
                if (typeof tz === 'string' && $('#id_timezone option[value="' + tz + '"]').length) {
                    $('#id_timezone').val(tz).change();
                }
            } catch (e) {}
        });
    </script>
    {% if form.captcha %}
        {{ recaptcha_init(LANGUAGE_CODE) }}
    {% endif %}
{% endblock %}

{% block body %}
        <section class="bg-gray-50 dark:bg-gray-900">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                    <img class="w-96 mr-2" src="https://i.imgur.com/wGkjdB1.png" alt="logo">
                </a>
                <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            {{ _("Sign up your QHHOJ account") }}
                        </h1>
                        <form class="space-y-4 md:space-y-6" action="" method="post">
                            {% csrf_token %}
                            <div>
                                <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Full name") }}</label>
                                {{ form.full_name.as_widget(attrs={
                                    'name': 'fullname',
                                    'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                                    'placeholder': 'Quoc Hoc Hue Online Judge',
                                }) }}
                                {% if form.full_name.errors %}
                                    <div class="form-field-error text-error">{{ form.full_name.errors }}</div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white {% if form.username.errors %} text-error {% endif %}">{{ _("Username") }}</label>
                                {{ form.username.as_widget(attrs={
                                    'name': 'username',
                                    'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                                    'placeholder': 'QHHOJ',
                                    'required': '',
                                }) }}
                                {% if form.username.errors %}
                                    <div class="form-field-error text-error">{{ form.username.errors }}</div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Email") }}</label>
                                {{ form.email.as_widget(attrs={
                                    'name': 'email',
                                    'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                                    'placeholder': 'qhhoj@qhhoj.ru',
                                    'required': '',
                                }) }}
                                {% if form.email.errors %}
                                    <div class="form-field-error text-error">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Password") }}</label>
                                {{ form.password1.as_widget(attrs={
                                    'name': 'password1',
                                    'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                                    'placeholder': '••••••••',
                                    'required': '',
                                }) }}
                                {% if form.password1.errors %}
                                    <div class="form-field-error text-error">{{ form.password1.errors }}</div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Password") }} {{ _("(again, for confirmation)") }}</label>
                                {{ form.password2.as_widget(attrs={
                                    'name': 'password2',
                                    'class': 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                                    'placeholder': '••••••••',
                                    'required': '',
                                }) }}
                                {% if form.password2.errors %}
                                    <div class="form-field-error text-error">{{ form.password2.errors }}</div>
                                {% endif %}
                            </div>
                            <div>
                                <label for="timezone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Timezone") }}</label>
                                {{ form.timezone }}
                            </div>
                            <div>
                                <label for="language" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Language") }}</label>
                                {{ form.language }}
                            </div>
                            <div>
                                <label for="organizations" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Affiliated organizations") }} ({{ _("can be blank") }})</label>
                                {{ form.organizations }}
                            </div>
                            {% include "registration/oauth.html" %}
                            {% if form.captcha %}
                                <div style="margin-top: 0.5em">{{ form.captcha }}</div>
                                {% if form.captcha.errors %}
                                    <div class="form-field-error text-error">{{ form.captcha.errors }}</div>
                                {% endif %}
                            {% endif %}
                            <div>
                                {{ (_('By registering, you agree to our [Terms & Conditions][0].') + '\n\n  [0]: ' + tos_url)|markdown('default', strip_paragraphs=True) }}
                            </div>
                            <button type="submit" class="btn btn-primary w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">{{ _("Sign up") }}</button>
                            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                {{ _("Already have an account?") }} <a href="{{ url ('auth_login') }}" class="font-bold text-primary-600 hover:underline dark:text-primary-500 underline">{{ _("Sign in") }}</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
          </section>
{% endblock %}
