{% extends "submission/info-base.html" %}

{% block js_media %}
    {% compress js %}
        <script src="{{ static('libs/clipboard/clipboard.js') }}"></script>
        <script src="{{ static('libs/clipboard/tooltip.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $(document).find('pre code').each(function () {
                    var copyButton;
                    $(this).closest('.source-wrap').before($('<div>', {'class': 'copy-clipboard'})
                        .append(copyButton = $('<span>', {
                            'class': 'btn-clipboard',
                            'data-clipboard-text': $(this).text(),
                            'title': 'Click to copy'
                        }).text('Copy')));

                    $(copyButton.get(0)).mouseleave(function () {
                        $(this).attr('class', 'btn-clipboard');
                        $(this).removeAttr('aria-label');
                    });

                    var curClipboard = new Clipboard(copyButton.get(0));

                    curClipboard.on('success', function (e) {
                        e.clearSelection();
                        showTooltip(e.trigger, 'Copied!');
                    });

                    curClipboard.on('error', function (e) {
                        showTooltip(e.trigger, fallbackMessage(e.action));
                    });
                });
            });
        </script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}

    <script>
        window.addEventListener('load', () => {
            const clipboard = FlowbiteInstances.getInstance('CopyClipboard', 'code-source');
            const $defaultMessage = document.getElementById('default-message');
            const $successMessage = document.getElementById('success-message');
    
            clipboard.updateOnCopyCallback((clipboard) => {
                $defaultMessage.classList.add('hidden');
                $successMessage.classList.remove('hidden');
    
                // reset to default state
                setTimeout(() => {
                    $defaultMessage.classList.remove('hidden');
                    $successMessage.classList.add('hidden');
                }, 2000);
            })
        })
    </script>
{% endblock %}

{% block body %}
    <br>
    <div class="text-primary"><a href="{{ url('submission_status', submission.id) }}">
        <i class="fa-solid fa-square-poll-vertical fa-fw" aria-hidden="true"></i>
        {{ _('View status') }}
    </a></div>
    <div class="text-primary"><a href="{{ url('submission_source_raw', submission.id) }}">
        <i class="fa-regular fa-file-code fa-fw" aria-hidden="true"></i>
        {{ _('View raw source') }}
    </a></div>
    {% if (request.user == submission.user.user or perms.judge.resubmit_other) and not submission.language.file_only %}
        <div class="text-primary"><a href="{{ url('problem_submit', submission.problem.code, submission.id) }}">
            <i class="fa-solid fa-upload fa-fw" aria-hidden="true"></i>
            {{ _('Resubmit') }}
        </a></div>
    {% endif %}
    {% set can_edit = submission.problem.is_editable_by(request.user) %}
    {% if perms.judge.rejudge_submission and can_edit and not submission.is_locked %}
        <div class="text-primary">
            <form action="{{ url('submission_rejudge') }}" method="post">
                {% csrf_token %}
                <a href="#" onclick="parentNode.submit()">
                    <i class="fa-solid fa-arrow-rotate-left fa-fw" aria-hidden="true"></i>
                    {{ _('Rejudge') }}
                </a>
                <input type="hidden" name="id" value="{{ submission.id }}">
                <input type="hidden" name="path" value="{{ url('submission_status', submission.id) }}">
            </form>
        </div>
    {% endif %}
    {% if perms.judge.reject_submission and can_edit and not submission.is_locked %}
        <div class="text-primary">
            <form action="{{ url('submission_reject') }}" method="post">
                {% csrf_token %}
                <a href="#" onclick="parentNode.submit()">
                    <i class="fa-solid fa-square-xmark fa-fw" aria-hidden="true"></i>
                    {{ _('Reject') }}
                </a>
                <input type="hidden" name="id" value="{{ submission.id }}">
                <input type="hidden" name="path" value="{{ url('submission_status', submission.id) }}">
            </form>
        </div>
    {% endif %}
    <br>
    
    <div class="w-full">
        <code id='code-source' class="hidden">{{ source }}</code>
        <div class="w-full h-11 rounded-t-lg bg-gray-200 flex justify-start items-center space-x-1.5 px-3">
            <span class="w-3 h-3 rounded-full bg-red-400"></span>
            <span class="w-3 h-3 rounded-full bg-yellow-400"></span>
            <span class="w-3 h-3 rounded-full bg-green-400"></span>
            <p class="absolute left-1/2 transform translate-x-1/2 text-center font-bold">Source Editor</P>
            <button data-copy-to-clipboard-target="code-source" data-copy-to-clipboard-content-type="innerHTML" class="absolute right-6 bg-primary hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white px-3 py-1 rounded-lg">
                <span id="default-message">Copy</span>
                <span id="success-message" class="hidden inline-flex items-center">
                    <svg class="w-3 h-3 text-white me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                    </svg>
                    Copied!
                </span>
            </button>
        </div>
        <div class="bg-gray-100 border-t-0 w-full">
            <table class="mx-3">
                <tr>
                    <td class="source-ln border-r-4 pl-4 py-4">
                        <div>
                            {% for line in raw_source.split('\n') %}
                                <a href="#line-{{ loop.index }}" name="line-{{ loop.index }}">
                                    <pre class="line">{{ loop.index }}</pre>
                                </a>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="source-code pl-4">{{ highlighted_source }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
