{% extends "base.html" %}
{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'calendar' %}
    {% include "contest/contest-list-tabs.html" %}
{% endblock %}

{% block body %}
    <table id="contest-calendar" class="table border-collapse w-full">
        <tr>
            <th class="border bg-primary text-white">{{ _('Sunday') }}</th>
            <th class="border bg-primary text-white">{{ _('Monday') }}</th>
            <th class="border bg-primary text-white">{{ _('Tuesday') }}</th>
            <th class="border bg-primary text-white">{{ _('Wednesday') }}</th>
            <th class="border bg-primary text-white">{{ _('Thursday') }}</th>
            <th class="border bg-primary text-white">{{ _('Friday') }}</th>
            <th class="border bg-primary text-white">{{ _('Saturday') }}</th>
        </tr>
        {% for week in calendar %}
            <tr>{% for day in week %}
                <td class="{% if day.is_today %} bg-orange-200 {% endif %}{% if day.is_pad %} bg-stone-400 {% endif %} w-44 h-28 align-top border hover:bg-light-blue-pink-gradient">
                    <span class="num text-right font-bold block pr-1 mb-2 border-b border-dashed">{{ day.date.day }}</span>
                    <ul class="fa-ul text-xs">
                        {% for contest in day.starts %}
                            <li class="start mb-1">
                                <i class="fa fa-li fa-lg fa-step-forward fa-fw"></i>
                                <a href="{{ url('contest_view', contest.key) }}" class="text-primary font-medium">{{ contest.name }}</a>
                            </li>
                        {% endfor %}
                        {% for contest in day.oneday %}
                            <li class="oneday mb-1">
                                <i class="fa fa-li fa-lg fa-play fa-fw"></i>
                                <a href="{{ url('contest_view', contest.key) }}" class="text-primary font-medium">{{ contest.name }}</a>
                            </li>
                        {% endfor %}
                        {% for contest in day.ends %}
                            <li class="end mb-1">
                                <i class="fa fa-li fa-lg fa-step-backward fa-fw"></i>
                                <a href="{{ url('contest_view', contest.key) }}" class="text-primary font-medium">{{ contest.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            {% endfor %}</tr>
        {% endfor %}
    </table>
{% endblock %}
