.jGrowl .information {
    background-color: black;
    font-family: "Lato", "Segoe UI", "Lucida Grande", Arial, sans-serif;
}

.jGrowl .information .jGrowl-header {
    color: rgb(196, 80, 76);
    font-weight: 700;
    font-size: 14px;
}