{% extends "twoside-content.html" %}
{% block content_media %}
    {% if not comment_lock %}
        {% include "comments/media-css.html" %}
    {% endif %}
    <style>
        #raw_problem {
            visibility: hidden;
            width: 0;
            height: 0;
            position: absolute;
            left: -999em;
        }
    </style>
{% endblock %}

{% block content_js_media %}
    {% if not comment_lock %}
        {% include "comments/media-js.html" %}
    {% endif %}
    <script type="text/javascript">
        $(function() {
            $('#pdf_button').click(async function(e) {
                e.preventDefault();
                if (!$('#raw_problem').attr("src"))
                    $('#raw_problem').attr("src", "{{problem.code}}/raw");

                while(!$('.math-loaded', frames['raw_problem'].document).length) {
                    await new Promise(r => setTimeout(r, 200));
                }
                frames['raw_problem'].print();
            });
        });
    </script>
{% endblock %}

{% block title_row %}
    <div class="problem-title">
        {% if request.user.is_authenticated %}
            {% if problem.id in completed_problem_ids %}
                <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                    {% if problem.is_public or request.in_contest %}
                        <i class="solved-problem-color title-state fa fa-check-circle"></i>
                    {% else %}
                        <i class="solved-problem-color title-state fa fa-lock"></i>
                    {% endif %}
                </a>
            {% elif problem.id in attempted_problems %}
                <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                    {% if problem.is_public or request.in_contest %}
                        <i class="attempted-problem-color title-state fa fa-times-circle"></i>
                    {% else %}
                        <i class="attempted-problem-color title-state fa fa-lock"></i>
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
        <h2 style="display: inline-block" class="text-center w-full font-extrabold text-4xl">{{ title }}</h2>
        <!--
        <span class="spacer"></span>
        {% if has_pdf_render %}
            <a href="{{ url('problem_pdf', problem.code) }}" class="view-pdf">
        {% else %}
        <a id="pdf_button" class="view-pdf" href='#'>
        {% endif %}
            <span class="pdf-icon">
                <span class="fa fa-file-pdf-o pdf-icon-logo"></span>
                <span class="pdf-icon-bar"></span>
            </span>
            {{ _('View as PDF') }}
        </a>
        -->
    </div>
{% endblock %}

{% block before_content %}
<div class="container">
<div class="flex flex-row space-x-2">
{% if request.user.is_authenticated and request.in_contest and submission_limit %}
    {% if submissions_left > 0 %}
        <div>
        <a href="{{ url('problem_submit', problem.code) }}">
            <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
                <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
                {{ _('Submit solution') }}
            </button>
        </a>
        </div>
    {% else %}
    <div>
        <a class="unselectable button full disabled">
            <button type='button' class="text-black text-xs font-medium bg-code-gray px-5 py-2.5 my-2 rounded-lg flex-col w-fit border">
                <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
                {{ _('Submit solution') }}
            </button>
        </a>
    </div>
    {% endif %}
{% else %}
    <div>
        <a href="{{ url('problem_submit', problem.code) }}">
            <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
                <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
                {{ _('Submit solution') }}
            </button>
        </a>
    </div>
{% endif %}

{% if request.in_contest and contest_problem %}
    {% set contest = contest_problem.contest %}
    <div><a href="{{ url('contest_user_submissions', contest.key, request.user.username, problem.code) }}">
        <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
            <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
            {{ _('My submissions') }}
        </button>
    </a></div>
    {% if contest.can_see_full_submission_list(request.user) %}
        <div><a href="{{ url('chronological_submissions', problem.code) }}">
            <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
                <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
                {{ _('All submissions') }}
            </button>
        </a></div>
        <div><a href="{{ url('contest_ranked_submissions', contest.key, problem.code) }}">
            <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
                <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
                {{ _('My submissions') }}
            </button>
        </a></div>
    {% endif %}
{% else %}
    {% if request.user.is_authenticated and has_submissions %}
        <div>
            <a href="{{ url('user_submissions', problem.code, request.user.username) }}">    
            <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
                <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
                {{ _('My submissions') }}
            </button></a>
        </div>
    {% endif %}
    <div><a href="{{ url('chronological_submissions', problem.code) }}">
        <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
            <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
            {{ _('All submissions') }}
        </button>
    </a></div>
    <div><a href="{{ url('ranked_submissions', problem.code) }}">
        <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
            <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
            {{ _('Best submissions') }}
        </button>
    </a></div>
{% endif %}

{% if (editorial and editorial.is_accessible_by(request.user)) and not request.in_contest %}
    <div><a href="{{ url('problem_editorial', problem.code) }}">
        <button type='button' class="text-white text-xs font-medium bg-primary px-5 py-2.5 my-2 rounded-lg flex-col w-fit">
            <i class="fa-solid fa-cubes-stacked fa-fw" aria-hidden="true"></i>
            {{ _('Read editorial') }}
        </button>
    </a></div>
{% endif %}
</div>
</div>
{% endblock %}

{% block info_float %}

<div data-accordion="open">
    <h2 id="accordion-info-head" class="border-b">
        <button type="button" class="bg-primary flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-300 hover:bg-indigo-600 gap-3" data-accordion-target="#accordion-info-body" aria-expanded="true" aria-controls="accordion-info-body">
            <span class="flex items-center">
                <i class="fa-solid fa-circle-info fa-fw" aria-hidden="true"></i>
                {{ _("Information") }}
                </span>
            </span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
        </button>
    </h2>
    <div id="accordion-info-body" class="hidden" aria-labelledby="accordion-info-head">
        <div class="p-5 border border-t-0 border-gray-200">
            {% if problem.is_organization_private %}
                <span class="organization-tags">
                    {% for org in problem.organizations.all() %}
                        <div class="organization-tag">
                            <a href="{{ org.get_absolute_url() }}" class="text-gray-500">
                                <i class="fa fa-lock fa-fw" aria-hidden="true"></i> {{ org.name }}
                            </a>
                        </div>
                    {% endfor %}
                </span>
            {% endif %}
            <div>
            <table class="w-full mb-2 text-gray-900">
                <tbody>
                    <tr>
                        <td class="w-fit text-left font-medium whitespace-nowrap align-top">
                            <i class="fa-solid fa-4 fa-fw" aria-hidden="true"></i>
                            {{ _('Points:') }}
                        </td>
                        <td class="w-auto text-right break-words">
                            {% if contest_problem %}
                                {{ contest_problem.points }}{% if contest_problem.partial %} {{ _('(partial)') }}{% endif %}
                            {% else %}
                                {{ problem.points|floatformat(0) }}{% if problem.partial %} {{ _('(partial)') }}{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="w-fit text-left font-medium whitespace-nowrap align-top">
                            <i class="fa-solid fa-stopwatch fa-fw" aria-hidden="true"></i>
                            {{ _('Time limit:') }}
                        </td>
                        <td class="w-auto text-right break-words">
                            {{ problem.time_limit }}s
                        </td>
                    </tr>

                    {% for name, limit in problem.language_time_limit %}
                        <tr>
                            <td class="w-auto text-left font-medium whitespace-nowrap align-top">
                                <i class="fa-solid fa-stopwatch-20 fa-fw" aria-hidden="true"></i>
                                {{ name }}:
                            </td>
                            <td class="w-auto text-right break-words">{{ limit }}s</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td class="w-auto text-left font-medium whitespace-nowrap align-top">
                            <i class="fa-solid fa-memory fa-fw" aria-hidden="true"></i>
                            {{ _('Memory limit:') }}
                        </td>
                        <td class="w-auto text-right break-words">
                            {{ problem.memory_limit|kbsimpleformat }}
                        </td>
                    </tr>

                    {% for name, limit in problem.language_memory_limit %}
                        <tr>
                            <td class="w-auto text-left font-medium whitespace-nowrap align-top">
                                <i class="fa-solid fa-sd-card fa-fw" aria-hidden="true"></i>
                                {{ name }}:
                            </td>
                            <td class="w-auto text-right break-words">{{ limit|kbsimpleformat }}s</td>
                        </tr>
                    {% endfor %}

                    {% if problem.source %}
                        <tr>
                            <td class="w-auto text-left font-medium whitespace-nowrap align-top">
                                <i class="fa-solid fa-share fa-fw" aria-hidden="true"></i>
                                {{ _('Source') }}:
                            </td>
                            <td class="w-auto text-right break-words">{{ problem.source }}</td>
                        </tr>
                    {% endif %}

                    {% if not contest_problem or not contest_problem.contest.hide_problem_authors %}
                    {% cache 86400 'problem_authors' problem.id LANGUAGE_CODE %}
                        {% with authors = problem.authors.all() %}
                        {% if authors %}
                            <tr>
                                <td class="w-auto text-left font-medium whitespace-nowrap align-top">
                                    <i class="fa-solid fa-pen-to-square fa-fw" aria-hidden="true"></i>
                                    {% trans trimmed count=authors|length %}
                                    Author:
                                    {% pluralize count %}
                                    Authors:
                                    {% endtrans %}
                                </td>
                                <td class="w-auto text-right break-all">{{ link_users(authors) }}</td>
                            </tr>
                        {% endif %}
                        {% if problem.suggester %}
                        <tr>
                            <td class="w-auto text-left font-medium whitespace-nowrap align-top">
                                <i class="fa-solid fa-i-cursor fa-fw" aria-hidden="true"></i>
                                {{ _("Suggester:") }}
                            </td>
                            <td class="w-fit text-right break-words">{{ link_user(problem.suggester) }}</td>
                        </tr>
                        {% endif %}
                        {% endwith %}
                    {% endcache %}
                    {% endif %}
                <tbody>
            </table>
        </div>
    </div>
</div>

{% if can_edit_problem or (request.user.is_authenticated and has_tickets) or problem.is_subs_manageable_by(request.user) or (perms.judge.clone_problem and can_edit_problem) %}
<div data-accordion="open" class="mt-2">
    {% with types=problem.types_list %}
        <h2 id="accordion-edit-head" class="border-b">
            <button type="button" class="bg-primary flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-300 hover:bg-indigo-600 gap-3" data-accordion-target="#accordion-edit-body" aria-expanded="true" aria-controls="accordion-edit-body">
                <span class="flex items-center">
                    <i class="fa-solid fa-wand-magic-sparkles fa-fw" aria-hidden="true"></i>
                    {{ _("Edit")}}
                </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-edit-body" class="hidden" aria-labelledby="accordion-edit-head">
            <div class="p-5 border border-t-0 border-gray-200">
                {% if can_edit_problem %}
                    <div><a href="{{ url('problem_ticket_list', problem.code) }}">{{ _('Manage tickets') }}
                        {% if num_open_tickets %}<span class="badge">{{ num_open_tickets }}</span>{% endif %}
                    </a></div>
                    <div><a href="{{ url('problem_edit', problem.code) }}">{{ _('Edit problem') }}</a></div>
                    {% if not problem.is_manually_managed %}
                        <div><a href="{{ url('problem_data', problem.code) }}">{{ _('Edit test data') }}</a></div>
                    {% endif %}
                {% elif request.user.is_authenticated and has_tickets %}
                <div>
                    <a href="{{ url('problem_ticket_list', problem.code) }}">{{ _('My tickets') }}
                        {% if num_open_tickets %}<span class="badge">{{ num_open_tickets }}</span>{% endif %}
                    </a>
                </div>
                {% endif %}
                {% if problem.is_subs_manageable_by(request.user) %}
                <div>
                    <a href="{{ url('problem_manage_submissions', problem.code) }}">{{ _('Manage submissions') }}</a>
                </div>
                {% endif %}
                {% if perms.judge.clone_problem and can_edit_problem %}
                <div>
                    <a href="{{ url('problem_clone', problem.code) }}">{{ _('Clone problem') }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endwith %}
</div>
{% endif %}

{% if not contest_problem or not contest_problem.contest.hide_problem_tags %}
<div data-accordion="open" class="mt-2">
    {% with types=problem.types_list %}
        <h2 id="accordion-types-head" class="border-b">
            <button type="button" class="bg-primary flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-300 hover:bg-indigo-600 gap-3" data-accordion-target="#accordion-types-body" aria-expanded="true" aria-controls="accordion-types-body">
                <span class="flex items-center">
                    <i class="fa-solid fa-quote-left fa-fw" aria-hidden="true"></i>
                    {% trans trimmed count=problem.types_list|length %}
                    Problem type
                    {% pluralize count %}
                    Problem types
                    {% endtrans %}
                </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-types-body" class="hidden" aria-labelledby="accordion-types-head">
            <div class="p-5 border border-t-0 border-gray-200">
                <p class="mb-2 text-gray-900">{{ problem.types_list|join(", ") }}</div>
            </div>
        </div>
    {% endwith %}
</div>
{% endif %}

{% if show_languages %}
    <div  data-accordion="open" class="mt-2">
        {% with usable=problem.usable_common_names, langs=problem.languages_list() %}
            <h2 id="accordion-lang-head" class="border-b">
                <button type="button" class="bg-primary flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-300 hover:bg-indigo-600 gap-3" data-accordion-target="#accordion-lang-body" aria-expanded="true" aria-controls="accordion-lang-body">
                    <span class="flex items-center">
                        <i class="fa-solid fa-language fa-fw" aria-hidden="true"></i>
                        {{ _('Allowed languages') }}
                    </span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                </button>
            </h2>
            <div id="accordion-lang-body" class="hidden" aria-labelledby="accordion-lang-head">
                <div class="p-5 border border-t-0 border-gray-200">
                    <p class="mb-2 text-gray-900">
                    {% for lang in langs %}
                        {%- if lang in usable -%}
                            {{ lang }}
                        {%- else -%}
                            <s>{{ lang }}</s>
                        {%- endif -%}
                        {% if not loop.last %}, {% endif -%}
                    {% endfor %}
                    </p>
                </div>
            </div>
        {% endwith %}
    </div>
{% endif %}

{% if problem.is_editable_by(request.user) %}
    <div data-accordion="open" class="mt-2">
        {% with usable=problem.usable_common_names, langs=problem.languages_list() %}
            <h2 id="accordion-judge-head" class="border-b">
                <button type="button" class="bg-primary flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-300 hover:bg-indigo-600 gap-3" data-accordion-target="#accordion-judge-body" aria-expanded="true" aria-controls="accordion-judge-body">
                    <span class="flex items-center">
                        <i class="fa fa-database fa-fw" aria-hidden="true"></i>
                        <span class="pi-name">{% trans trimmed count=available_judges|length %}
                            Judge
                        {% pluralize count %}
                            Judges
                        {% endtrans %}
                        </span>
                    </span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                </button>
            </h2>
            <div id="accordion-judge-body" class="hidden" aria-labelledby="accordion-judge-head">
                <div class="p-5 border border-t-0 border-gray-200">
                    <p class="mb-2 text-gray-900">
                        {% if available_judges %}
                        {% if perms.judge.change_judge %}
                            {% for judge in available_judges %}
                                <a href="{{ url('admin:judge_judge_change', judge.id) }}" class="text-primary">{{ judge.name }}</a>
                                {%- if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ available_judges|join(", ") }}
                        {% endif %}
                    {% else %}
                        <i>{{ _('none available') }}</i>
                    {% endif %}
                    </p>
                </div>
            </div>
        {% endwith %}
    </div>
{% endif %}
{% endblock %}

{% block description %}
    <iframe name="raw_problem" id="raw_problem"></iframe>
    {% if problem.is_suggesting %}
        <div class="alert alert-warning alert-dismissable">
            <a class="close">x</a>
            <b>{{ _('This problem is only a suggestion!') }}</b>
            <br>
            {{ _('This problem cannot be accessed by normal users until it is approved by an admin or staff. Please make sure that all the data for this problem is correct.') }}
        </div>
    {% endif %}
    <article class="prose prose-lg">
        {% include "problem/problem-detail.html" %}
    </article>
{% endblock %}

<!--
{% block post_description_end %}
    {% if request.user.is_authenticated and not request.profile.mute %}
        <a href="{{ url('new_problem_ticket', problem.code) }}" class="button clarify">
            {%- if comment_lock and request.profile.current_contest.live -%}
                {{ _('Request clarification') }}
            {%- else -%}
                {{ _('Report an issue') }}
            {%- endif -%}
        </a>
    {% endif %}
{% endblock %}
-->

<!--
{% block comments %}
    {% if comment_lock %}
        <div class="clarifications-area">
            <h2><i class="fa fa-question-circle"></i> {{ _('Clarifications') }}</h2>
            {% if has_clarifications %}
                {% for clarification in clarifications %}
                    <div class="problem-clarification">
                        <div class="time">{{ relative_time(clarification.date) }}</div>
                        <span class="body">
                            {{ clarification.description|markdown('problem', MATH_ENGINE)|reference }}
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-comments-message">{{ _('No clarifications have been made at this time.') }}</p>
            {% endif %}
        </div>
    {% else %}
        {% include "comments/list.html" %}
    {% endif %}
{% endblock %}
-->