<div class="sidebox">
    <div class="w-full p-6 bg-white rounded-lg shadow drop-shadow mb-8 mx-auto">
        <h3 class="font-bold text-2xl text-left m-2 capitalize mb-4">
            <i class="fa fa-search fa-fw"></i>
            {{ _('Problem search') }}
        </h3>

        <form id="filter-form" name="form" action="" method="get">
            <div class="flex flex-row">
                <div class="w-1/2 mx-3 mr-3">
                    <div>
                        <input id="search" type="text" name="search" value="{{ search_query or '' }}"
                            placeholder="{{ _('Search problems...') }}" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2.5">
                    </div>
                    <div class="mb-2 mt-4">
                        {% if has_fts %}
                        <div class="flex items-center mb-2">
                            <input id="full_text" type="checkbox" name="full_text" value="1"
                                {% if full_text %}checked{% endif %} class="w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 align-middle mr-1">
                            <label for="full_text">{{ _('Full text search') }}</label>
                        </div>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <div class="flex items-center mb-2">
                                <input id="hide_solved" type="checkbox" name="hide_solved" value="1"
                                    {% if hide_solved %}checked{% endif %} class="w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 align-middle mr-1">
                                <label for="hide_solved">{{ _('Hide solved problems') }}</label>
                            </div>
                        {% endif %}
                        <div class="flex items-center mb-2">
                            <input id="has_public_editorial" type="checkbox" name="has_public_editorial" value="1"
                                    {% if has_public_editorial %} checked{% endif %} class="w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 align-middle mr-1">
                            <label for="has_public_editorial">{{ _('Has editorial') }}</label>
                        </div>
                        <div class="flex items-center mb-2">
                            <input id="show_types" type="checkbox" name="show_types" value="1"
                                    {% if show_types %} checked{% endif %} class="w-4 h-4 text-primary bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 align-middle mr-1">
                            <label for="show_types">{{ _('Show problem types') }}</label>
                        </div>
                    </div>
                </div>
                <div class="w-1/2 mx-3 ml-3 -mt-1">
                    <div class="flex flex-col mb-8">
                        <select id="category" name="category">
                            {% if category %}
                                <option value="" selected="selected">{{ _('All') }}</option>
                            {% else %}
                                <option value="">{{ _('Category (All)') }}</option>{% endif %}
                            <option disabled="disabled">---</option>
                            {% for group in categories %}
                                <option value="{{ group.id }}"{% if group.id == category %} selected{% endif %}>
                                    {{ group.full_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex flex-col mb-4">
                        <select id="types" name="type" multiple>
                            {% for type in problem_types %}
                                <option value="{{ type.id }}"{% if type.id in selected_types %} selected{% endif %}>
                                    {{ user_trans(type.full_name) }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if point_values %}
                        <div class="form-label text-center my-4">{{ _('Point range') }}</div>
                        <div id="point-slider" class="h-2"></div>
                    {% endif %}
                </div>
                <input id="point-start" type="hidden" name="point_start" {% if point_start and point_start != point_values.min %}value="{{ point_start }}"{% else %}disabled{% endif %}>
                <input id="point-end" type="hidden" name="point_end" {% if point_end and point_end != point_values.max %}value="{{ point_end }}"{% else %}disabled{% endif %}>
            </div>
            <div class="flex flex-row w-full justify-center content-center mt-4">
                <a id="go" class="mr-12">
                    <button class="unselectable button full participate-button bg-primary hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white px-3 py-2.5 rounded-lg w-24 font-medium">
                        {{ _('Go') }}
                    </button>
                </a>
                <a id="random">
                    <button class="unselectable button full participate-button bg-primary hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white px-3 py-2.5 rounded-lg w-24 font-medium">
                        {{ _('Random') }}
                    </button>
                </a>
            </div>
        </form>

        <script>
            var my_options = $("#types option");
            var selected = $("#types").val();

            my_options.sort(function(a,b) {
                return a.text.localeCompare(b.text, 'vi');
            })

            $("#types").empty().append(my_options);
            $("#types").val(selected);
        </script>
    </div>
</div>
