{% extends "common-content.html" %}

{% block js_media %}
    <script type="text/javascript">
        $(function () {
            $('a.sub-case-status').featherlight($('.partial-output-window'), {
                afterOpen: function () {
                    var $parent = this.$currentTarget.parent();
                    var partial = $parent.attr('data-partial-output');
                    this.$instance.find('.partial-output-window').find('code').text(partial).end().show();
                }
            });

            $('input.sub-check').on('change', function (e) {
                var table = $(this).closest('table');
                var column = $(this).parent().index();
                var sel = 'tr td:nth-child(' + (column + 1) + ') input.sub-check';
                var count = table.find(sel + ':checked').length;
                if (count == 1) {
                    table.find(sel + ':not(:checked)').attr('disabled', true);
                } else {
                    table.find(sel).removeAttr('disabled');
                }
            });

            $('#diff').click(function (e) {
                e.preventDefault();

                var first = $('#case-table tr td:nth-child(1) input.sub-check:checked')[0];
                var second = $('#case-table tr td:nth-child(2) input.sub-check:checked')[0];
                if (!first || !second) {
                    alert('Please select two submissions.');
                    return;
                }

                var first_id = $(first).parent().parent().attr('sub-id');
                var second_id = $(second).parent().parent().attr('sub-id');
                if (first_id === second_id) {
                    alert('Please select two different submissions.');
                    return;
                }

                window.location.href = '{{ url('diff_submissions') }}?first_id=' + first_id + '&second_id=' + second_id;
            });

            var highlight_id = (new URL(window.location.href)).searchParams.get('highlight');
            if (highlight_id) {
                var row = $('tr[sub-id=' + highlight_id + ']');
                if (row.length > 0) {
                    row.addClass('highlighted');
                    var checkbox = row.find('td:nth-child(2) input.sub-check');
                    checkbox.attr('checked', true);
                    checkbox.trigger('change');
                }
            }
        });
    </script>
    <script type="text/javascript" src="{{ static('libs/featherlight/featherlight.min.js') }}"></script>
    <script type="text/javascript">
    </script>
{% endblock %}

{% block body %}
    <div class="overflow-x-auto">
    <table id="case-table" class="table text-base text-left text-gray-900">
        <thead class="text-lg text-white uppercase bg-primary">
        <tr>
            <th class="sub-check px-4 py-2 w-12 border text-center whitespace-nowrap">{{ _('1st') }}</th>
            <th class="sub-check px-4 py-2 w-12 border text-center whitespace-nowrap">{{ _('2nd') }}</th>
            <th class="sub-id px-4 py-2 w-12 border text-center whitespace-nowrap">{{ _('ID') }}</th>
            <th class="sub-username w-36 px-4 py-2 border whitespace-nowrap">{{ _('Username') }}</th>
            <th class="sub-result px-4 py-2 w-20 border text-center whitespace-nowrap">{{ _('Result') }}</th>
            <th class="sub-language px-4 py-2 w-20 border text-center whitespace-nowrap">{{ _('Language') }}</th>
            <th class="sub-date px-4 py-2 w-48 border text-center whitespace-nowrap">{{ _('Date') }}</th>
            {% for case in range(num_cases) %}
                <th class="sub-case px-4 py-2 w-12 border text-center whitespace-nowrap">{{ loop.index }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sub in submissions %}
            <tr sub-id={{ sub.id }} class="odd:bg-white even:bg-gray-50 border">
                <td class="text-center border whitespace-nowrap"><input class="sub-check" type="checkbox"></td>
                <td class="text-center border whitespace-nowrap"><input class="sub-check" type="checkbox"></td>
                <td class="text-center border text-primary font-medium whitespace-nowrap"><a href="{{ url('submission_source', sub.id) }}">{{ sub.id }}</a></td>
                <td class="px-4 border whitespace-nowrap">{{ link_user(sub.user) }}</td>
                <td class="text-center border whitespace-nowrap"><span class="case-{{ sub.result }}">{{ sub.result }}</span></td>
                <td class="text-center border whitespace-nowrap">{{ sub.language.name }}</td>
                <td class="text-center border font-medium whitespace-nowrap"><span class="time">{{ relative_time(sub.date) }}</span></td>
                {% for case in sub.test_cases.all() %}
                    <td data-partial-output="{{ case.output }}" class="text-center border whitespace-nowrap">
                        {% if case.status == 'SC' %}
                            <span class="case-SC">---</span>
                        {% else %}
                            <a href="javascript:void(0);" class="sub-case-status case-{{ case.status }}">
                                {% if case.status == 'AC' %}
                                    {{ case.time|floatformat(2) }}
                                {% else %}
                                    {{ case.status }}
                                {% endif %}
                            </a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div style="display: none" class="partial-output-window"><pre><code></code></pre></div>
{% endblock %}

{% block bodyend %}
    <div class="pb-4 pl-4">
        <a id="diff" class="unselectable button full" href="#" style="width: 90%; margin: auto;">
            <button class="bg-primary hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-blue-300 text-white px-3 py-1 rounded-lg">{{ _('Diff source code') }}</button>
        </a>
    </div>
{% endblock %}
