<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{{ title }} - {{ SITE_LONG_NAME }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% if misc_config.meta_keywords %}
        <meta name="keywords" content="{{ misc_config.meta_keywords }}">
    {% endif %}
    {% if meta_description %}
        <meta name="description" property="og:description" content="{{ meta_description }}">
    {% endif %}
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#1E1E1E">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    {# Chrome 39 for Android colour #}
    <meta name="theme-color" content="#1E1E1E">
    {% if og_image %}
        <meta property="og:image" content="{{ request.build_absolute_uri(og_image) }}">
    {% else %}
        <meta property="og:image" content="{{ request.build_absolute_uri("/logo.png") }}">
    {% endif %}
    {% block og_title %}{% endblock %}
    <meta property="og:site_name" content="{{ SITE_LONG_NAME }}">
    <meta property="og:url"
          content="{{ DMOJ_SCHEME }}://{{ DMOJ_CANONICAL|default(site.domain) }}{{ request.get_full_path() }}">

    {% block meta %}{% endblock %}
    {% if not INLINE_FONTAWESOME %}
        <link rel="stylesheet" href="{{ FONTAWESOME_CSS }}">
    {% endif %}
    {% compress css %}
        {# TODO: once dark mode support is better, enable for all users by deleting the else branch #}
        {% if perms.judge.test_site %}
            {% if PREFERRED_STYLE_CSS is not none %}
                <link rel="stylesheet" href="{{ static(PREFERRED_STYLE_CSS) }}">
            {% else %}
                <link rel="stylesheet" href="{{ static(LIGHT_STYLE_CSS) }}" media="(prefers-color-scheme: light)">
                <link rel="stylesheet" href="{{ static(DARK_STYLE_CSS) }}" media="(prefers-color-scheme: dark)">
            {% endif %}
        {% else %}
            <link rel="stylesheet" href="{{ static(LIGHT_STYLE_CSS) }}">
        {% endif %}
        {% if INLINE_FONTAWESOME %}<link rel="stylesheet" href="{{ static('libs/fontawesome/font-awesome.css') }}">{% endif %}
        <link rel="stylesheet" href="{{ static('fonts/lato.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ static('libs/clipboard/tooltip.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ static('libs/select2/select2.css') }}">
    {% endcompress %}
    <link rel="canonical"
          href="{{ DMOJ_SCHEME }}://{{ DMOJ_CANONICAL|default(site.domain) }}{{ request.get_full_path() }}">
    {% if request.user.is_impersonate %}
        <style>
            #nav-container {
                background: #893e89 !important;
            }
        </style>
    {% endif %}
    {% block media %}{% endblock %}
    {% if not INLINE_JQUERY %}
        <script src="{{ JQUERY_JS }}"></script>
    {% endif %}

    {% compress js %}
        <script>{{ inlinei18n(LANGUAGE_CODE)|safe }}</script>
        {% if INLINE_JQUERY %}
            <script src="{{ static('libs/jquery-3.4.1.min.js') }}"></script>
        {% endif %}
        <script src="{{ static('libs/jquery-cookie.js') }}"></script>
        <script src="{{ static('libs/jquery-taphold.js') }}"></script>
        <script src="{{ static('libs/jquery.unveil.js') }}"></script>
        <script src="{{ static('libs/moment.js') }}"></script>
        <script src="{{ static('libs/select2/select2.js') }}"></script>
        {% include "extra_js.html" %}
        <script src="{{ static('common.js') }}"></script>
        <script src="{{ static('event.js') }}"></script>
        <script>
            moment.locale('{{ LANGUAGE_CODE }}');
            $(function () {
                $('img.unveil').unveil(200);
            });
        </script>
    {% endcompress %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.8/jquery.jgrowl.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.8/jquery.jgrowl.min.js"></script>

    {% block js_media %}{% endblock %}

    {% if EVENT_LAST_MSG %}
        <script>
            window.event_dispatcher = new WSEventDispatcher(
                '{{ EVENT_DAEMON_LOCATION }}',
                '{{ EVENT_DAEMON_POLL_LOCATION }}',
                {{ EVENT_LAST_MSG }}
            );
        </script>
    {% endif %}
    {% if request.in_contest %}
        <script>$(function () {
            count_down($("#contest-time-remaining"));

            var selected = null,
                x_pos = 0, y_pos = 0,
                x_elem = 0, y_elem = 0;

            $('#contest-info').mousedown(function () {
                selected = $(this);
                x_elem = x_pos - selected.offset().left;
                y_elem = y_pos - (selected.offset().top - $(window).scrollTop());
                return false;
            });

            if (localStorage.getItem("contest_timer_pos")) {
                data = localStorage.getItem("contest_timer_pos").split(":");
                $("#contest-info").css({
                    left: data[0],
                    top: data[1]
                });
            }

            $("#contest-info").show();

            $(document).mousemove(function (e) {
                x_pos = e.screenX;
                y_pos = e.screenY;
                x_pos = Math.max(Math.min(x_pos, window.innerWidth), 0);
                y_pos = Math.max(Math.min(y_pos, window.innerHeight), 0);

                if (selected !== null) {
                    left_px = (x_pos - x_elem) + 'px';
                    top_px = (y_pos - y_elem) + 'px';

                    localStorage.setItem("contest_timer_pos", left_px + ":" + top_px);

                    selected.css({
                        left: left_px,
                        top: top_px
                    });
                }
            });

            $(document).mouseup(function () {
                selected = null;
            })

            {# Virtual = 0 is live participation, virtual = -1 is spectating #}
            {% if EVENT_LAST_MSG and request.participation.contest.push_announcements and request.participation.virtual <= 0 %}
                $(function () {
                    event_dispatcher.auto_reconnect = true;
                    event_dispatcher.on('contest_{{ request.participation.contest.id_secret }}', function (data) {
                        alert(data.title + '\n\n' + data.message);
                    });
                })
            {% endif %}
        });
        </script>
        <script>
            $('#qhhoj-lang-change').on('change',function() {
                var _val = $(this).is(':checked') ? 'vi' : 'en';
                console.log(_val);
                submmit_language(_val);
            });
        </script>
    {% endif %}

    {% if request.user.is_authenticated %}
        <script>
            {% if EVENT_LAST_MSG %}
                $(function () {
                    event_dispatcher.auto_reconnect = true;
                    event_dispatcher.on('grading-notify', function (message) {
                        if (message.user == '{{ request.user.id }}') {
                            const submissionURL = `{{ SITE_FULL_URL }}/submission/${message.id}`;
                            const problemName = `<a href="${submissionURL}">${message.name}</a>`;
                            const submissionResult = `${message.result}: ${message.points}/${message.max_points}`;
                            const notificationContent = `${problemName} (${submissionResult})`;

                            const jGrowlOptions = {
                                life: 5000,
                                position: 'bottom-left',
                                header: '{{ _("Grading Completed") }}',
                                theme: 'information',
                            };

                            $.jGrowl(notificationContent, jGrowlOptions);
                            $.jGrowl.defaults.closerTemplate = '<div>{{ _("Hide all notifications") }}</div>';
                        }
                    });
                })
            {% endif %}
        </script>
    {% endif %}

    {% if request.user.is_authenticated and not tfa_in_progress %}
        <script>
            window.user = {
                email: '{{ request.user.email|escapejs }}',
                id: '{{ request.user.id|escapejs }}',
                name: '{{ request.user.username|escapejs }}'
            };
        </script>
    {% else %}
        <script>window.user = {};</script>
    {% endif %}

    {% if misc_config.analytics %}
        {{ misc_config.analytics|safe }}
    {% endif %}

    {# Don't run userscript since it may be malicious #}
    {% if request.user.is_authenticated and request.profile.user_script and not request.user.is_impersonate and not tfa_in_progress and not ignore_user_script %}
        <script type="text/javascript">{{ request.profile.user_script|safe }}</script>
    {% endif %}
    <script>
        function submmit_language(lang) {
            if (lang != "{{ LANGUAGE_CODE }}" ) {
                $("input[name=language]").val(lang)
                $("#set_language").submit()
            }
        }
    </script>
    <noscript>
        <style>
            #content {
                margin: 80px auto auto;
            }

            #navigation {
                top: 27px;
            }
        </style>
    </noscript>
</head>
<body>
<svg width="0" height="0" style="display: block">
    <defs>
        <clipPath id="rating-clip"><circle cx="8" cy="8" r="7"/></clipPath>
    </defs>
</svg>

<div class="drawer">
    <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <label for="nav-drawer" role='button' id="btn btn-primary drawer-button">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-10 w-10 stroke-current">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
        <noscript>
            <div id="noscript">{{ _('This site works best with JavaScript enabled.') }}</div>
        </noscript>
        <br>
        <main id="content">
            {% if misc_config.top_notification %}
                {{ render_django(misc_config.top_notification) }}
            {% endif %}
            {% block title_row %}
                <h2 style="display:inline">
                    {% block content_title %}
                        {% if content_title %}{{ content_title }}{% endif %}
                    {% endblock %}
                </h2>
            {% endblock %}
            {% block header %}{% endblock %}
            {% block title_ruler %}
                <hr>
            {% endblock %}
            <div id="content-body">{% block body %}{% endblock %}</div>
        </main>
    
        {% if misc_config.announcement %}
            <div id="announcement">{{ misc_config.announcement|safe }}</div>
        {% endif %}
    
        {% block bodyend %}{% endblock %}
    </div>
    <div class="drawer-side scroll-auto">
      <label for="nav-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
        <li class="home-nav-element my-5"><a href="{{ url('home')}}">{% include "site-logo-fragment.html" %}</a></li>
        {% for node in mptt_tree(nav_bar) recursive %}
                    <li>
                        {% if not node.hidden or request.user.is_superuser %}
                                {% if node.is_leaf_node() %}
                                    <a href="{{ node.path }}" class="nav-{{ node.key }}{% if node.key in nav_tab %} active{% endif %} capitalize text-lg font-bold">
                                        <i class="{{ node.fa_icon }}" aria-hidden="true"></i>
                                        {{ _(node.label|title) }}
                                    </a>
                                {% else %}
                                    <details>
                                        <summary>
                                            <a href="{{ node.path }}" class="nav-{{ node.key }}{% if node.key in nav_tab %} active{% endif %} capitalize text-lg font-bold">
                                                <i class="{{ node.fa_icon }}" aria-hidden="true"></i>
                                                <a href="{{ node.path }}" class="capitalize text-lg font-bold">{{ _(node.label|title) }}</a>
                                            </a>
                                        </summary>
                                        <ul>
                                            {% with children=node.get_children() %}
                                                {% if children %}<li>{{ loop(children) }}</li>{% endif %}
                                            {% endwith %}
                                        </ul>
                                    </details>
                                {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}

                <div class="flex-grow">
                    <br>
                </div>

                {% if request.user.is_authenticated %}
                <ul class="inset-x-0 bottom-0">
                    <li>
                        <a href=
                            {% if request.resolver_match.view_name == "problem_detail" and problem %}
                                "{{ url('new_problem_ticket', problem.code) }}"
                            {% else %}
                                "/tickets/new?issue_url={{ request.build_absolute_uri()|urlencode }}"
                            {% endif %}
                            class="capitalize text-lg font-bold">
                            <i class="fa-solid fa-triangle-exclamation" aria-hidden="true"></i>
                            Report issues
                        </a>
                    </li>
                    {% if request.user.is_impersonate %}
                    <li>
                        <a class="text-lg font-bold text-red-500">
                        <i class="fa-solid fa-user-secret" aria-hidden="true"></i>
                            You are impersonating
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <details>
                            <summary>
                                <a class="relative flex -ml-2" href="{{ url('user_page') }}">
                                    <div class="avatar">
                                        <div class="ring-accent ring-offset-base-100 w-8 rounded-full ring ring-offset-2">
                                        <img src="{{ gravatar(request.user) }}" />
                                    </div>
                                    <p class="text-lg ml-2 mt-1">
                                        &nbsp;{{ _('Hello,') }}&nbsp;{{  _('%(username)s.', username=bold(request.user.first_name or request.profile.display_name)) }}
                                    </p>
                                </a>
                            </summary>
                            <ul>
                                {% if request.user.is_staff or request.user.is_superuser %}
                                    <li><a href="{{ url('admin:index') }}" class="capitalize text-lg font-bold">{{ _('Admin') }}</a></li>
                                {% endif %}
                                <li><a href="{{ url('user_edit_profile') }}" class="capitalize text-lg font-bold">{{ _('Edit profile') }}</a></li>
                                {% if request.user.is_impersonate %}
                                    <li><a href="{{ url('impersonate-stop') }}" class="capitalize text-lg font-bold text-red-500">{{ _('Stop impersonating') }}</a></li>
                                {% else %}
                                    <li>
                                        <form action="{{ url('auth_logout') }}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="capitalize text-lg font-bold text-red-500">{{ _('Log out') }}</button>
                                        </form>
                                    </li>
                                {% endif %}
                            </ul>
                        </details>
                    </li>
                    <li>
                        <label class="flex cursor-pointer gap-2">
                            <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                <path d="M35,30 L45,70 L55,30" stroke="black" stroke-width="2" fill="none" />
                                <rect x="60" y="30" width="2" height="40" fill="black" />
                            </svg>                                                       
                            <input type="checkbox" class="toggle" id="qhhoj-lang-change"/>
                            <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                <path d="M35,30 L35,70 M35,30 L55,30 M35,50 L50,50 M35,70 L55,70" stroke="black" stroke-width="2" fill="none" />
                                <path d="M65,30 L65,70 M65,30 L85,70 M85,70 L85,30" stroke="black" stroke-width="2" fill="none" />
                            </svg>
                                      
                        </label>
                    </li>
                </ul>
            {% else %}
                <span class="anon place-self-center">
                    <a href="{{ url('auth_login') }}?next={{ LOGIN_RETURN_PATH|urlencode }}"><button class="btn btn-primary font-bold text-xl">{{ _('Log in') }}</button></a>
                    <a href="{{ url('registration_register') }}"><button class="btn btn-accent font-bold text-xl">{{ _('Sign up') }}</button></a>                 
                </span>
            {% endif %}
      </ul>
    </div>
  </div>

{% if request.in_contest %}
    {% set current_contest = request.participation.contest %}
    <div id="contest-info">
        <a href="{{ url('contest_view', current_contest.key) }}">
            {{ current_contest.name }} -
            {% if request.participation.spectate %}
                {{ _('spectating') }}
            {% elif request.participation.end_time %}
                <div id="contest-time-remaining" data-secs="{{ request.participation.time_remaining|seconds }}">
                    {{ request.participation.time_remaining|timedelta("localized") }}
                </div>
            {% else %}
                {{ _('virtual') }}
            {% endif %}
        </a>
        {% if current_contest.can_see_own_scoreboard(request.user) %}
            <a href="{{ url('contest_ranking', current_contest.key) }}" style="text-align: center; font-size: 0.7em; color: #DCD427;">
                {{ _('Go to Rankings') }}
            </a>
        {% endif %}
    </div>
{% endif %}
<div id="page-container">
    

    <footer class="footer footer-center bg-primary text-primary-content p-10">
        <aside>
            <p class="font-bold">
            QHHOJ - Mission Impossible.
            <br/>
            Quốc Học Huế Online Judge
            </p>
            <p>Copyright © <span id="year"></span></p>
        </aside>
        <nav>
            <div class="grid grid-flow-col gap-4">
            <a href="https://www.facebook.com/qhhoj">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current">
                <path
                    d="M22.675 0h-21.35C.597 0 0 .598 0 1.334v21.333C0 23.402.597 24 1.325 24H12.82v-9.294H9.692v-3.622h3.128V8.412c0-3.1 1.896-4.788 4.668-4.788 1.325 0 2.462.099 2.794.142v3.24h-1.918c-1.5 0-1.794.713-1.794 1.76v2.31h3.587l-.467 3.622h-3.12V24h6.116c.729 0 1.325-.598 1.325-1.333V1.334C24 .598 23.402 0 22.675 0z"></path>
                </svg>
            </a>
            <a href="mailto:qhhoj@qhhoj.com">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current">
                <path
                    d="M12 12.713L.025 3.008C.191 2.442.628 2 1.235 2h21.529c.607 0 1.044.442 1.21 1.008L12 12.713zM.025 20.992V7.234l7.833 6.211L.025 20.992zM9.6 14.498l2.4 1.9 2.4-1.9 7.833-6.264v13.758H.025V8.234L9.6 14.498zM16.142 13.445L24 7.235v13.757L16.142 13.445z"></path>
                </svg>
            </a>
            <a href="https://github.com/qhhoj/online-judge">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current">
                <path
                    d="M12 .5C5.73.5.98 5.24.98 11.5c0 4.86 3.16 8.98 7.54 10.43.55.1.75-.24.75-.53v-1.87c-3.07.67-3.72-1.48-3.72-1.48-.5-1.28-1.22-1.62-1.22-1.62-.99-.68.08-.67.08-.67 1.1.08 1.68 1.13 1.68 1.13.98 1.68 2.56 1.19 3.18.91.1-.71.39-1.19.71-1.47-2.45-.28-5.02-1.22-5.02-5.44 0-1.2.42-2.18 1.1-2.95-.11-.28-.48-1.42.1-2.96 0 0 .92-.3 3.02 1.12.87-.24 1.81-.36 2.74-.36.93 0 1.87.12 2.74.36 2.1-1.42 3.02-1.12 3.02-1.12.58 1.54.21 2.68.1 2.96.69.77 1.1 1.75 1.1 2.95 0 4.23-2.58 5.16-5.04 5.43.4.35.74 1.03.74 2.07v3.07c0 .29.2.63.76.52 4.38-1.45 7.54-5.57 7.54-10.43C23.02 5.24 18.27.5 12 .5z"></path>
                </svg>
            </a>
            </div>
        </nav>
    </footer>
</div>
<script>
    document.getElementById('year').textContent = new Date().getFullYear();
</script>
</body>
</html>
