{% macro make_tab(name, fa, url, text) %}
    <li class="me-2">
        <a href="{{ url }}" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 text-lg group {% if tab == name %}active text-primary border-primary{% endif %}" {% if tab == name %}aria-current="page"{% endif %}>
            <i class="tab-icon fa {{ fa }}"></i>&nbsp;{{ text }}
        </a>
    </li>
{% endmacro %}

<div class="tabs">
    {% block post_tab_spacer %}{% endblock %}
    <div class="border-b border-gray-200 dark:border-gray-700 mb-10">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            {% block tabs %}{% endblock %}
        </ul>
    </div>
</div>
