{% extends "base.html" %}

{% block media %}
    {% block content_media %}{% endblock %}
{% endblock %}

{% block js_media %}
    {% compress js %}
        <script src="{{ static('libs/clipboard/clipboard.js') }}"></script>
        <script src="{{ static('libs/clipboard/tooltip.js') }}"></script>
    {% endcompress %}
    {% block content_js_media %}{% endblock %}
{% endblock %}

{% block body %}
    {% block before_content %} {% endblock %}
    <div id="common-content" class="relative">
        <div id="content-right" class="float-right inline my-1 mr-1 -ml-80 w-72 min-w-72 max-w-72">
            <div class="info-float">{% block info_float %}{% endblock %}</div>
        </div>
        <div id="content-left" class="split-common-content relative block my-1 ml-1 mr-80">
            <div class="content-description screen">
                {% block description %}{% endblock %}
                {% block description_end %}
                    <hr>
                {% endblock %}
                {% block post_description_end %}{% endblock %}
            </div>
            {% block comments %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
